.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;

  ._hero_des {
    text-align: center;
    line-height: 1.5;
    padding: 1rem;

    ._top_desc {
      font-size: 20px;
      color: var(--white-color);
    }

    h1 {
      font-size: 40px;
      color: var(--primary-color);
      font-weight: 500;
    }

    ._bottom_desc {
      font-size: 14px;
      line-height: 1.5;
      color: var(--white-color);
      max-width: 500px;
      margin: auto;
      margin-bottom: 15px;
    }

    .read {
      color: var(--white-color);
      background: var(--primary-color);
      margin-right: 20px;
    }

    .purchas {
      background: var(--white-color);
      color: #000;
    }
  }
}