.register_page{
    width:100%;
    position: relative;
    height:100vh;
    form{
        text-align: center;
        width:40%;
        padding: 25px 20px;
        position: absolute;
        left:32%;
        margin-top:100px;
        display:block;
        background-color: rgb(35, 35, 35);
        h1{
            color:var(--white-color);
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight:400;
        }
      .sub-heading {
    width: 70px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    position: absolute;
    left: 45%;
    border-radius: 20px;
    margin-top: -10px;
    margin-bottom:25px;
  }
      .field{
        width:100%;
        padding:14px 10px;
        margin-bottom:15px;
        color:var(--white-color);
        background-color: rgb(14, 14, 14);
      } 
      .forget{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:15px;
        input{
            margin-right: 5px;
        }
        .forget_password{
color:var(--primary-color);
        }
      }
      .login_icons{
        margin-bottom:20px;
        p{
           margin-bottom:15px;
           font-size:12px;  
        }
      .login-icon{
          display:flex;
          justify-content: center;
          align-items: center;
        }
        
      }
      button{
        width:150px;
      }
       .dont-have-account{
        font-size: 12px;
        padding:15px 0px;
        a{
         font-size: 16px;
         color:var(--primary-color);
        }
      }

    }
}