.messge{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
}
.messagingTop{
    display: flex;
    
}
.messgeImge{
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.messgeText{
    padding: 10px;
    border-radius: 20px;
    background: #1877f2;
    color:#fff;
    line-height: 1.8;
    max-width: 400px;
}
 
.messge.own{
    align-items: flex-end;
}
.messge.own .messgeText{
    background: rgb(246, 211, 175);
    color:black
}
 